 /* ------------------------- Dashboard Cards ------------------------ */
 
 .page-container .section .container .cards{
    margin-top: 60px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.page-container .section .container .cards .card-link {
    text-decoration: none;
    color: black;
}

.page-container .section .container .cards .card-link .card{
    text-decoration: none;
    background-color: #8e0000;
    width: 160px;
    height: 85px;
    border-radius: 10px;
    color: white;
    transition: .2s;
    margin: 10px;
}

.page-container .section .container .cards .card-link .card:hover {
    scale: 1.05;
}

.page-container .section .container .cards .card-link .card .title{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: 1000;
}

.page-container .section .container .cards .card-link .card .value{
    padding-top: 8px;
    padding-left: 20px;
    font-weight: 1000;
    font-size: large;
}

/* ------------------------- User Cards ------------------------ */

.page-container .section .container .user-types {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 550px;
}

.page-container .section .container .user-types .user-link {
    text-decoration: none;
    color: black;
}

.page-container .section .container .user-types .user-link .user {
    text-decoration: none;
    background-color: #8e0000;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    color: white;
    transition: .2s;
    margin: 50px 30px 50px 80px;
}

.page-container .section .container .user-types .user-link .user:hover {
    scale: 1.05;
}

.page-container .section .container .user-types .user-link .user .title {
    padding: 40px;
    text-align: center;
    font-size: large;
    font-weight: 800;
}

/* ---------------------Necessity and Project lists---------------------*/
.page-container .section .container .list {
    margin-right: 500px;
}

.page-container .section .container .list .list-title {
    padding: 5px 0 0 10px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.257);
}

.page-container .section .container .list .list-items {
    padding: 10px;
    /* background-color: #8e0000; */
}

.page-container .section .container .list .list-items .item-link {
    text-decoration: none;
    color: black;
}

.page-container .section .container .list .list-items .list-item {
    text-decoration: none;
    width: 790px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.604);
    border-radius: 10px;
    /* transition: .2s; */
    /* margin: 10px; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

/* -----------------Request List----------------------- */
.page-container .section .container .req-list {
    width: 450px;
}

.page-container .section .container .req-list .list-title {
    color: black;
    padding: 5px 0 0 10px;
    font-size: 15px;
    font-weight: 1000;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.257);
}

.page-container .section .container .req-list .list-items {
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: #8e0000; */
}

.page-container .section .container .req-list .list-items .name {
    padding: 8px 0 8px 10px;
    width: 280px;
}

.page-container .section .container .req-list .list-items .btn {
    width: 150px;
    /* background-color: green; */
}

.page-container .section .container .req-list .list-items .btn .rev-btn{
    width: 80px;
    height: 25px;
    margin-left: 35px;
    padding: 3px;
    background-color: #8e0000;
    color: white;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #8e0000;
    cursor: pointer;
}
