.donor-right-side-container{
    position: fixed;
    width: 70%;
    height: 85vh;
    right: 0;
    margin-top: 2vh;
}

.donor-middle-container{
    position: fixed;
    width: 45%;
    height: 85vh;
    margin-left: -45px;
}

.donor-middle-container-title-typeone{
    position: fixed;
    width: 45%;
    height: 8vh;
    margin-top: 5vh;
}

.donor-middle-container-title-typeone h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -0.3vh;
}

.donor-middle-container-title-typeone p{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.3vh;
    margin-bottom: 1vh;
}

/* ------------------Go Back Button ---------------------*/
.donor-goback-button{
    position: fixed;
    width: 45%;
    height: 4vh;
    display: flex;
    align-items: center;
}

.donor-goback-button img{
    width: 18px;
    cursor: pointer;
}

.donor-goback-button button{
    height: 4vh;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 15px;

}

.donor-goback-button img:hover, .donor-goback-button button:hover{
    color: #410000;
}

/* ----------For errors------------ */
span .donor-form-error-details{
    color: #8E0000;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0.5vh;
}

/* ------------------Add Benefaction--------------- */

.two-column-container {
    display: flex;
}

.left-column {   
    flex: 70; 
    min-width: 70%;
}

.right-column {
    flex: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #4d3131;
    align-items: center;
}

#placeholderImage{
    width: 280px;
    height: 280px;
    object-fit: contain;
    margin-bottom: -50px
}

.right-column-inner{
    width: 100%;    
    max-height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;    
    margin-right: 140px;
}

.add-benefaction-box{
    height: 37px; /* Make the input fields fill the entire height of their parent div */
    width: 80px;
    border-radius: 6px;
    border: 1px dashed #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}

.add-benefaction-form{
    position: relative;
    width: 100%;
    height: 69vh;
    margin-top: 16vh;
}

.benefaction-first-div,
.benefaction-second-div,
.benefaction-third-div{
    position: relative;
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    width: 68%;
    float: left;
}

.benefaction-first-div input,
.benefaction-second-div input{
    height: 5vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px 0px 14px;
}

.benefaction-first-div input:focus,
.benefaction-second-div input:focus,
.add-benefaction-text-area-input-to-oneline textarea:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.add-benefaction-text-area-input-to-oneline textarea{
    height: 6vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding-left: 14px;
    padding-right: 14px;
}

.benefaction-first-div label,
.benefaction-second-div label,
.benefaction-third-div label,
.add-benefaction-text-area-input-to-oneline label{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1.5vh;
}

.add-benefaction-text-area-input-to-oneline{
    position: relative;
    width: 70%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.add-benefaction-add-button{
    position: relative;
    width: 100%;
    height: 5vh;
}

.add-benefaction-add-button input{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-benefaction-add-button input:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-benefaction-add-button input[type="submit"] {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.benefaction-third-div-four-input-one-line {
    display: flex; /* Set display to flex to align items horizontally */
    justify-content: space-between; /* Add space between the elements */
    height: 5vh;
}

.add-benefaction-first-div,
.add-benefaction-second-div,
.add-benefaction-third-div,
.add-benefaction-fourth-div {
    display: inline-block; /* Change display to inline-block */
    width: calc(25% - 15px); /* Adjust width to 25% of the container width with some spacing */
    margin-right: 10px; /* Add margin to create spacing between the elements */
    vertical-align: top; /* Align elements to the top */
}

.add-benefaction-first-div input,
.add-benefaction-second-div input,
.add-benefaction-third-div input,
.add-benefaction-fourth-div input {
    height: 100%; /* Make the input fields fill the entire height of their parent div */
    width: 75%;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px; /* Adjust padding */
}

.add-benefaction-first-div input:focus,
.add-benefaction-second-div input:focus,
.add-benefaction-third-div input:focus,
.add-benefaction-fourth-div input:focus {
    outline: none !important;
    border: #8E0000 solid;
}

/* ----------Posted Benefaction ----------- */

.posted-benefaction-pending-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 18vh;
}

.posted-benefaction-pending-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 22vh;
    background-color: #DEDEDE;
}

.posted-benefactions-pending-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 24vh;
    overflow: hidden;
    overflow-y: scroll;
}

.posted-benefaction-onProgress-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 45vh;
}

.posted-benefaction-onProgress-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 49vh;
    background-color: #DEDEDE;
}

.posted-benefactions-onProgress-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 51vh;
    overflow: hidden;
    overflow-y: scroll;
}

.posted-benefaction-Completed-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 72vh;
}

.posted-benefaction-Completed-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 76vh;
    background-color: #DEDEDE;
}

.posted-benefactions-Completed-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 76vh;
    overflow: hidden;
    overflow-y: scroll;
}

.posted-benefaction-pending-table-caption p, 
.posted-benefaction-Completed-table-caption p,
.posted-benefaction-onProgress-table-caption p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #262A41;
    margin-top: -0.1vh;
    font-weight: 600;
}

.posted-benefactions-pending-table table,
.posted-benefactions-Completed-table table,
.posted-benefactions-onProgress-table table{
    width: 95%;
}

.posted-benefactions-pending-table table tr,
.posted-benefactions-Completed-table table tr,
.posted-benefactions-onProgress-table table tr{
    width: 100%;
    height: 10vh;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    padding-left: 15px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.09);
}

.posted-benefactions-pending-table table tr:hover,
.posted-benefactions-Completed-table table tr:hover,
.posted-benefactions-onProgress-table table tr:hover{
    background-color: #fffdfd;
    transition: 0.2s;
    cursor: pointer;
}


/* .posted-benefactions-pending-table table tr td:nth-child(1),
.posted-benefactions-Completed-table table tr td:nth-child(1){
    width: 10%;
    padding-left: 15px;
}

.posted-benefactions-pending-table table tr td:nth-child(2){
    width: 50%;
    padding-left: 14px;
}

.posted-benefactions-pending-table table tr td:nth-child(3){
    width: 10%;
}

.posted-benefactions-pending-table table tr td:nth-child(4){
    width: 10%;
}

.posted-benefactions-pending-table table tr td:nth-child(5){
    width: 10%;
}

.posted-benefactions-pending-table table tr td:nth-child(6){
    width: 10%;
} */



.add-benefaction-button-for-post{
    position: fixed;
    width: 45%;
    height: 5vh;
    margin-top: 82vh;
    display: flex;
    justify-content: flex-end;
}

.add-benefaction-button-for-post button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-benefaction-button-for-post button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-benefaction-button-for-post button img{
    padding-right: 8px;
}

.add-benefaction-button-for-post button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


/* ----------------View Posted Benfactions------------------ */
.view-benefaction-right-column {
    flex: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #4d3131;
    align-items: center;
}

.view-benefaction-right-column-inner{
    width: 100%;    
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;    
    margin-right: 180px;
    margin-top: 150px;

}

.view-benefaction-left-column {   
    flex: 70; 
    min-width: 70%;
    max-height: 50vh;
    margin-top: 150px;
}

.benefaction-info table {
    width: 400px;
    height: 8vh;
    table-layout: fixed;
}

.benefaction-data {
    width: 100%;
    height: 35px;
    font-size: 15px;
}

/* css to th */
.benefaction-data th {
    min-width:100px; 
    width:100px;
}

.benefaction-data td {
    word-wrap: break-word; /* Break long words and wrap onto the next line */
    overflow-wrap: break-word; /* Break words at arbitrary points to prevent overflow */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    padding: 8px;
}

.benefaction-data-image-row img{
    max-height: 250px;
    max-width: 250px;    
}

.view-benefaction-btn-container{
    position: fixed;
    width: 25%;
    height: 5vh;
    margin-top:10vh;
    display: flex;
    justify-content:flex-start;
}

.view-benefaction-btn-container button:first-child {
    margin-right: 10px;
}

.view-benefaction-btn-container button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100px;
    margin-right: 5px;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-benefaction-btn-container button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.view-benefaction-btn-container button img{
    padding-right: 8px;
}

.view-benefaction-btn-container button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.request-right-side-bar{
    position: fixed;
    width: 25%;
    height: 85vh;
    right: 0;
    display: flex;
    justify-content: center;
}

.request-right-side-bar-inner{
    position: fixed;
    width: 20%;
    height: 85vh;
    background-color: #F5F5F5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-right-side-bar-type-requests{
    width: 250px;
    height: 80px;
    padding: 10px;
    background-color: #8e0000;
    border-radius: 10px;
    color: white;
}

.request-right-side-bar-type-requests h4{
    padding-left: 5px;
    font-size: 15px;
    margin-top: 5px;
}

.request-right-side-bar-type-requests p{
    padding-left: 5px;
    font-size: 12px;
    margin-top: -5px;
}


/* ---------------------Choose necessity type--------------------------- */
.choose-benefaction-buttons-container{
    position: fixed;
    width: 30%;
    height: 50vh;
    margin-top: 25vh;
}

.choose-benefaction-button{
    width: 100%;
    height: 20vh;
    margin-bottom: 2vh;
}

.choose-benefaction-button button{
    width: 100%;
    height: 18vh;
    background-color: #8E0000;
    margin-bottom: 2vh;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-benefaction-button button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.choose-benefaction-button button img{
    padding-right: 50px;
}

.choose-benefaction-button button p{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
