.donor-right-side-container{
    position: fixed;
    width: 70%;
    height: 85vh;
    right: 0;
    margin-top: 2vh;
}

.donor-middle-container{
    position: fixed;
    width: 45%;
    height: 85vh;
    margin-left: -45px;
}

.donor-middle-container-title-typeone{
    position: fixed;
    width: 45%;
    height: 8vh;
    margin-top: 5vh;
}

.donor-middle-container-title-typeone h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -0.3vh;
}

.donor-middle-container-title-typeone p{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.3vh;
    margin-bottom: 1vh;
}

/* ------------------Go Back Button ---------------------*/
.donor-goback-button{
    position: fixed;
    width: 45%;
    height: 4vh;
    display: flex;
    align-items: center;
}

.donor-goback-button img{
    width: 18px;
    cursor: pointer;
}

.donor-goback-button button{
    height: 4vh;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 15px;

}

.donor-goback-button img:hover, .donor-goback-button button:hover{
    color: #410000;
}

/* ----------For errors------------ */
span .donor-form-error-details{
    color: #8E0000;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0.5vh;
}


/* ------------------Donor Dashbaord--------------- */

.donor-dashboard-container{
    position: fixed;
    width: 75%;
    height: 85vh;
    margin-top: 2vh;
    right: 0px;
}

.donor-dashboard-introduction{
    height: 13vh;
}

.donor-dashboard-status-bar-container{
    margin-top: -20px;

}

.donor-dashboard-status-topic{ 
    margin: 0;
}

.donor-dashboard-status-bar{
    height: 120px;
    width: 95%;
    border-radius: 5px;    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.donor-dashboard-status{
    width: 200px;
    height: 100px;
    color: white;
    margin: 5px;
    text-align: center;
    justify-content: center;
    border-radius: 10px;    
    border: 1px solid #ddd;        
    background-color: #8e0000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.donor-dashboard-status:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.donor-dashboard-status p{
    font-size: 13px;
    margin-top: 20px;
}

.donor-dashboard-status h1{
    font-size: 25px;
    margin-top: 2px;
}

.donor-dashboard-two-column-container{
    display: flex;
    width: 95%;
    margin-top: 10px;
}

.donor-dashboard-graph-container{
    width: 75vh;
    height: 50vh;  
    margin-right: 5px;
    overflow: hidden;
}

.donor-dashboard-donation-container{
    width: 75vh;
    height: 50vh;
    overflow: hidden;
}

.donor-dashboard-left-container{
    width: 73vh;
    height: 40vh;    
    background-color: #fff6f6;    
    border: 1px solid #e3d6d6;
    border-radius: 5px;  

    display: flex;
    align-items: center;
    justify-content: center;
}

.donor-dashboard-right-container{
    position: fixed;/* Position relative for positioning the scrollbar */
    height: 40vh;
    width: 550px;
    overflow: auto;
    scrollbar-width: none;    
    background-color: #fff6f6;    
    border: 1px solid #e3d6d6;
    border-radius: 5px;
}

.donor-dashboard-right-container table{
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    border-collapse: collapse;    
}

.donor-dashboard-right-container th{
    background-color: #ffcfb6;
    position: sticky;
    top: 0px;
    z-index: 1;
    padding: 8px 12px;
    text-align: left;  
}

.donor-dashboard-right-container tbody {
    display: block; /* Enable block layout for tbody */
    max-height: calc(100% - 40px); /* Adjust height for tbody (minus header height) */
}

.donor-dashboard-right-container tbody tr {
    display: table-row;
}

.donor-dashboard-right-container tbody td {
    padding: 8px 12px;
    height: 40px;
    
    border-bottom: 1px solid #991e1e; /* Add bottom border between rows */
}

.donor-dashboard-right-container table tr td:nth-child(1){
    max-width: 40%;
    width: 300px;
}

.donor-dashboard-right-container table tr td:nth-child(2){
    max-width: 30%;
    width: 200px;
}

.donor-dashboard-right-container table tr td:nth-child(3){
    max-width: 30%;
    width: 100px;
}


/* ------------------Add Benefaction--------------- */

.two-column-container {
    display: flex;
}

.left-column {   
    flex: 70; 
    min-width: 70%;
}

.right-column {
    flex: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #4d3131;
    align-items: center;
}

#placeholderImage{
    width: 280px;
    height: 280px;
    object-fit: contain;
    margin-bottom: -50px
}

.right-column-inner{
    width: 100%;    
    max-height: 85vh;
    margin-right: 140px;

    overflow-x: hidden;
    overflow-y: auto;    
    scrollbar-width: none;
}

.add-benefaction-box{
    height: 37px; /* Make the input fields fill the entire height of their parent div */
    width: 80px;
    border-radius: 6px;
    border: 1px dashed #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}

.add-benefaction-form{
    position: relative;
    width: 100%;
    height: 69vh;
    margin-top: 16vh;
}

.benefaction-first-div,
.benefaction-second-div,
.benefaction-third-div,
.benefaction-forth-div{
    position: relative;
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vh;
    width: 68%;
    float: left;
}

.benefaction-first-div input,
.benefaction-second-div input{
    height: 5vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px 0px 14px;
}

.benefaction-first-div input:focus,
.benefaction-second-div input:focus,
.add-benefaction-text-area-input-to-oneline textarea:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.add-benefaction-text-area-input-to-oneline textarea{
    height: 6vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding-left: 14px;
    padding-right: 14px;
}

.benefaction-first-div label,
.benefaction-second-div label,
.benefaction-third-div label,
.benefaction-forth-div label,
.add-benefaction-text-area-input-to-oneline label{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0.5vh;
}

.add-benefaction-text-area-input-to-oneline{
    position: relative;
    width: 70%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.add-benefaction-add-button{
    position: relative;
    width: 100%;
    height: 5vh;
}

.add-benefaction-add-button input{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-benefaction-add-button input:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-benefaction-add-button input[type="submit"] {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.benefaction-third-div-four-input-one-line {
    display: flex; /* Set display to flex to align items horizontally */
    justify-content: space-between; /* Add space between the elements */
    height: 5vh;
}

.add-benefaction-first-div,
.add-benefaction-second-div,
.add-benefaction-third-div,
.add-benefaction-fourth-div {
    display: inline-block; /* Change display to inline-block */
    width: calc(25% - 15px); /* Adjust width to 25% of the container width with some spacing */
    margin-right: 10px; /* Add margin to create spacing between the elements */
    vertical-align: top; /* Align elements to the top */
}

.add-benefaction-first-div input,
.add-benefaction-second-div input,
.add-benefaction-third-div input,
.add-benefaction-fourth-div input {
    height: 100%; /* Make the input fields fill the entire height of their parent div */
    width: 75%;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px; /* Adjust padding */
}

.add-benefaction-first-div input:focus,
.add-benefaction-second-div input:focus,
.add-benefaction-third-div input:focus,
.add-benefaction-fourth-div input:focus {
    outline: none !important;
    border: #8E0000 solid;
}

.select-box {
    height: 38px; /* Make the input fields fill the entire height of their parent div */
    width: 300px;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px; /* Adjust padding */
}

/* select button */

.select-box select{
    display: none;
}

.select-selected {
    /* margin-left: -20px; */
    height: 20px; /* Make the input fields fill the entire height of their parent div */
    width: 250px;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
}

/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    margin-top: 5px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000000 transparent;
    margin-top: 0px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {    
    color: black;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #FCFCFC;
    margin-top: 10px;
    left: 0;
    right: 0;
    z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}


/* ------------------------------------------------- */

.add-benefaction-right-side-bar{
    position: fixed;
    width: 25%;
    height: 10vh;
    right: 0;
    display: flex;
    justify-content: center;
}

.add-benefaction-right-side-bar-inner{
    position: fixed;
    width: 20%;
    height: 85vh;
    background-color: #F5F5F5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-benefaction-right-side-bar-topic{
    margin-bottom: 15px;
    font-size: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-benefaction-right-side-bar-grey-line{
    /* position: fixed; */
    width: 265px;
    height: 0.3vh;
    background-color: #DEDEDE;
    /* margin-left: -40px; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-benefaction-right-side-bar-all-add-benefactions{
    height: 75vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.add-benefaction-right-side-bar-all-add-benefactions-inner-content{
        min-width: 50%;
        margin: 0;  
        margin-left: 15px;     

        margin-bottom: 10px;
        /* Adjust height to fit content */
        height: auto; /* This allows the height to expand based on content */
        width: 85%;
        padding: 10px;

        display: flex;
        flex-direction: column;

        background-color: rgb(243, 227, 230);
        border: 1px solid #707070;
        border-radius: 6px;
}

.add-benefaction-right-side-bar-all-add-benefactions-inner-content h3 {
    margin: 0; /* Remove default margin */
    margin-bottom: 10px; /* Add margin below h3 for spacing */
}

.add-benefaction-right-side-bar-all-add-benefactions-inner-content p {
    margin: 0; /* Remove default margin */
}



/* ----------Posted Benefaction ----------- */

.posted-benefaction-container{
    background-color: #2ca030;
}

.posted-benefaction-pending-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 14vh;
}

.posted-benefaction-pending-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 18vh;
    background-color: #DEDEDE;
}

.posted-benefactions-pending-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 20vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.posted-benefaction-onProgress-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 38vh;
}

.posted-benefaction-onProgress-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 42vh;
    background-color: #DEDEDE;
}

.posted-benefactions-onProgress-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 44vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.posted-benefaction-Completed-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 62vh;
}

.posted-benefaction-Completed-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 66vh;
    background-color: #DEDEDE;
}

.posted-benefactions-Completed-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 67vh;
    overflow: hidden;
    overflow-y: scroll; 
    scrollbar-width: none; 
}

.posted-benefaction-pending-table-caption p, 
.posted-benefaction-Completed-table-caption p,
.posted-benefaction-onProgress-table-caption p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #262A41;
    margin-top: -0.1vh;
    font-weight: 600;
}

.posted-benefactions-pending-table table,
.posted-benefactions-Completed-table table,
.posted-benefactions-onProgress-table table{
    width: 95%;
}

.posted-benefactions-pending-table table td p{
    font-size: 12px;
}

.posted-benefactions-pending-table table tr,
.posted-benefactions-Completed-table table tr,
.posted-benefactions-onProgress-table table tr{
    width:100%;
    height: 10vh;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    padding-left: 15px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.09);
}

.posted-benefactions-pending-table table tr:hover,
.posted-benefactions-Completed-table table tr:hover,
.posted-benefactions-onProgress-table table tr:hover{
    background-color: #fffdfd;
    transition: 0.2s;
    cursor: pointer;
}


/* .posted-benefactions-pending-table table tr td:nth-child(1),
.posted-benefactions-Completed-table table tr td:nth-child(1){
    width: 10%;
    padding-left: 15px;
}

.posted-benefactions-pending-table table tr td:nth-child(2){
    width: 50%;
    padding-left: 14px;
}

.posted-benefactions-pending-table table tr td:nth-child(3){
    width: 10%;
}

.posted-benefactions-pending-table table tr td:nth-child(4){
    width: 10%;
}

.posted-benefactions-pending-table table tr td:nth-child(5){
    width: 10%;
}

.posted-benefactions-pending-table table tr td:nth-child(6){
    width: 10%;
} */



.add-benefaction-button-for-post{
    position: fixed;
    width: 45%;
    height: 5vh;
    margin-top: 82vh;
    display: flex;
    justify-content: flex-end;
}

.add-benefaction-button-for-post button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-benefaction-button-for-post button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-benefaction-button-for-post button img{
    padding-right: 8px;
}

.add-benefaction-button-for-post button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


/* ----------------View Posted Benefactions------------------ */
.view-benefaction-right-column {
    flex: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #4d3131;
    align-items: center;
}

.view-benefaction-right-column-inner{
    width: 100%;    
    max-height: 50vh;
    margin-right: 100px;
    margin-top: 150px;

    overflow-x: hidden;
    overflow-y: auto;   
    scrollbar-width: none; 

}

.view-benefaction-left-column {   
    flex: 70; 
    min-width: 70%;
    height: 50vh;
    max-height: 50vh;
    margin-top: 150px;



    
    border-collapse: collapse; /* Optional: Ensure borders collapse properly */
    overflow-y: auto;
    scrollbar-width: none;
}

.benefaction-info table {
    width: 400px;
    height: 8vh;
    table-layout: fixed;
}

.benefaction-data {
    width: 100%;
    height: 35px;
    font-size: 15px;
}

/* css to th */
.benefaction-data th {
    min-width:100px; 
    width:100px;
}

.benefaction-data td {
    word-wrap: break-word; /* Break long words and wrap onto the next line */
    overflow-wrap: break-word; /* Break words at arbitrary points to prevent overflow */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    padding: 8px;
}

.benefaction-data-image-row img{
    max-height: 250px;
    max-width: 250px;    
}

.view-benefaction-btn-container{
    position: fixed;
    width: 25%;
    height: 5vh;
    margin-top:10vh;
    display: flex;
    justify-content:flex-start;
}

.view-benefaction-btn-container button:first-child {
    margin-right: 10px;
}

.view-benefaction-btn-container button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100px;
    margin-right: 5px;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-benefaction-btn-container button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.view-benefaction-btn-container button img{
    padding-right: 8px;
}

.view-benefaction-btn-container button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.request-right-side-bar{
    position: fixed;
    width: 25%;
    height: 10vh;
    right: 0;
    display: flex;
    justify-content: center;
}

.request-right-side-bar-inner{
    position: fixed;
    width: 20%;
    height: 85vh;
    background-color: #F5F5F5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-right-side-bar-no-requests{
    height: 74vh;
    width: 90%;
    border-radius: 30px;
    border: 1px dashed #707070;
    background-color: rgb(224, 224, 224);

    position: absolute;
    margin-left: -140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.request-right-side-bar-no-requests p{
    font-size: 12px;
}

.request-right-side-bar-all-requests{
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.request-right-side-bar-topic{
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-right-side-bar-grey-line{
    /* position: fixed; */
    width: 265px;
    height: 0.3vh;
    background-color: #DEDEDE;
    /* margin-left: -40px; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-right-side-bar-type-requests{
    width: 250px;
    height: 60px;
    padding: 10px;
    background-color: #8e0000;
    border-radius: 10px;
    color: white;
    margin: 0;
    margin-bottom: 10px;

    display: flex;
}

.request-right-side-bar-type-requests-completed{
    width: 250px;
    height: 60px;
    padding: 10px;
    background-color: #2ca030;
    border-radius: 10px;
    color: white;
    margin: 0;
    margin-bottom: 10px;

    display: flex;
}

.request-right-side-bar-type-requests-left{
    min-width: 60%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.request-right-side-bar-type-requests-right{
    min-width: 40%;
}

.request-right-side-bar-type-requests-left h4 {
    margin: 0; /* Remove default margin */
    margin-bottom: 5px; /* Add margin below h4 for spacing */
}

.request-right-side-bar-type-requests-left p {
    margin: 0; /* Remove default margin */
    margin-top: 5px; /* Add margin above p for spacing */
}

.request-right-side-bar-type-requests-right .status_pending p{
    background-color: #ffffff;
    color: #000;
    
    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.request-right-side-bar-type-requests-right .status_accepted p{
    background-color: #d3731f;
    color: #ffffff;

    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.request-right-side-bar-type-requests-right .status_incomplte p{
    background-color: #fff823;
    color: #000;

    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.request-right-side-bar-type-requests-right .status_completed p{
    background-color: #8ff693;
    color: #000000;

    height: 30px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5px;
    font-size: 12px;

    display: flex;
    justify-content: center; 
    align-items: center;
}

/* ---------------------Choose Benefaction type--------------------------- */
.choose-benefaction-buttons-container{
    position: fixed;
    width: 30%;
    height: 50vh;
    margin-top: 25vh;
}

.choose-benefaction-button{
    width: 100%;
    height: 20vh;
    margin-bottom: 2vh;
}

.choose-benefaction-button button{
    width: 100%;
    height: 18vh;
    background-color: #8E0000;
    margin-bottom: 2vh;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-benefaction-button button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.choose-benefaction-button button img{
    padding-right: 50px;
}

.choose-benefaction-button button p{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

/* ------------------Add Scholarship--------------- */

.add-scholarship-form{
    position: relative;
    width: 100%;
    height: 69vh;
    margin-top: 16vh;
}

.scholarship-first-div,
.scholarship-second-div,
.scholarship-third-div,
.scholarship-forth-div{
    position: relative;
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5vh;
    width: 68%;
    float: left;
}

.scholarship-first-div input,
.scholarship-second-div input,
.scholarship-forth-div input{
    height: 5vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px 0px 14px;
}

.scholarship-first-div input:focus,
.scholarship-second-div input:focus,
.scholarship-forth-div input:focus,
.add-scholarship-text-area-input-to-oneline textarea:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.add-scholarship-text-area-input-to-oneline textarea{
    height: 6vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding-left: 14px;
    padding-right: 14px;
}

.scholarship-first-div label,
.scholarship-second-div label,
.scholarship-third-div label,
.scholarship-forth-div label,
.add-scholarship-text-area-input-to-oneline label{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0.5vh;
}

.add-scholarship-text-area-input-to-oneline{
    position: relative;
    width: 70%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.add-scholarship-add-button{
    position: relative;
    width: 100%;
    height: 5vh;
}

.add-scholarship-add-button input{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-scholarship-add-button input:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-scholarship-add-button input[type="submit"] {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.scholarship-third-div-two-input-one-line {
    display: flex; /* Set display to flex to align items horizontally */
    justify-content: space-between; /* Add space between the elements */
    height: 5vh;
}

.add-scholarship-first-div,
.add-scholarship-second-div{
    display: inline-block; /* Change display to inline-block */
    width: 300px; /* Adjust width to 25% of the container width with some spacing */
    /* margin-right: 10px; Add margin to create spacing between the elements */
    vertical-align: top; /* Align elements to the top */
}

.add-scholarship-first-div input,
.add-scholarship-second-div input {
    height: 100%; /* Make the input fields fill the entire height of their parent div */
    width: 86%;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px; /* Adjust padding */
}

.add-scholarship-first-div input:focus,
.add-scholarship-second-div input:focus {
    outline: none !important;
    border: #8E0000 solid;
}


/* ----------Posted Scholarship ----------- */

.posted-scholarship-pending-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 18vh;
}

.posted-scholarship-pending-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 22vh;
    background-color: #DEDEDE;
}

.posted-scholarships-pending-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 24vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.posted-scholarship-onProgress-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 45vh;
}

.posted-scholarship-onProgress-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 49vh;
    background-color: #DEDEDE;
}

.posted-scholarships-onProgress-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 51vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.posted-scholarship-Completed-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 72vh;
}

.posted-scholarship-Completed-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 76vh;
    background-color: #DEDEDE;
}

.posted-scholarships-Completed-table{
    position: fixed;
    width: 45%;
    height: 15vh;
    margin-top: 76vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.posted-scholarship-pending-table-caption p, 
.posted-scholarship-Completed-table-caption p,
.posted-scholarship-onProgress-table-caption p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #262A41;
    margin-top: -0.1vh;
    font-weight: 600;
}

.posted-scholarships-pending-table table,
.posted-scholarships-Completed-table table,
.posted-scholarships-onProgress-table table{
    width: 95%;
}

.posted-scholarships-pending-table table tr,
.posted-scholarships-Completed-table table tr,
.posted-scholarships-onProgress-table table tr{
    width: 100%;
    height: 10vh;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    padding-left: 15px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.09);
}

.posted-scholarships-pending-table table tr:hover,
.posted-scholarships-Completed-table table tr:hover,
.posted-scholarships-onProgress-table table tr:hover{
    background-color: #fffdfd;
    transition: 0.2s;
    cursor: pointer;
}

.add-scholarship-button-for-post{
    position: fixed;
    width: 45%;
    height: 5vh;
    margin-top: 82vh;
    display: flex;
    justify-content: flex-end;
}

.add-scholarship-button-for-post button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-scholarship-button-for-post button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-scholarship-button-for-post button img{
    padding-right: 8px;
}

.add-scholarship-button-for-post button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


/* ----------------View Posted Scholarships------------------ */

.scholarship-left-column {   
    flex: 70; 
    min-width: 70%;
    height: 50vh;
    max-height: 50vh;
    margin-top: 150px;

    
    border-collapse: collapse; /* Optional: Ensure borders collapse properly */
    overflow-y: auto;
    scrollbar-width: none;
}

.scholarship-info table {
    width: 400px;
    height: 8vh;
    table-layout: fixed;
}

.scholarship-data {
    width: 100%;
    height: 35px;
    font-size: 15px;
}

/* css to th */
.scholarship-data th {
    min-width:100px; 
    width:200px;
}

.scholarship-data td {
    word-wrap: break-word; /* Break long words and wrap onto the next line */
    overflow-wrap: break-word; /* Break words at arbitrary points to prevent overflow */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    padding: 8px;
}

.view-scholarship-btn-container{
    position: fixed;
    width: 25%;
    height: 5vh;
    margin-top:10vh;
    display: flex;
    justify-content:flex-start;
}

.view-scholarship-btn-container button:first-child {
    margin-right: 10px;
}

.view-scholarship-btn-container button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100px;
    margin-right: 5px;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-scholarship-btn-container button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.view-scholarship-btn-container button img{
    padding-right: 8px;
}

.view-scholarship-btn-container button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.application-right-side-bar{
    position: fixed;
    width: 25%;
    height: 85vh;
    right: 0;
    display: flex;
    justify-content: center;
}

.application-right-side-bar-inner{
    position: fixed;
    width: 20%;
    height: 85vh;
    background-color: #F5F5F5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.application-right-side-bar-type-applications{
    width: 250px;
    height: 80px;
    padding: 10px;
    background-color: #8e0000;
    border-radius: 10px;
    color: white;
}

.application-right-side-bar-type-applications h4{
    padding-left: 5px;
    font-size: 15px;
    margin-top: 5px;
}

.application-right-side-bar-type-applications p{
    padding-left: 5px;
    font-size: 12px;
    margin-top: -5px;
}

/* ----------------View Benefaction Request Deatils Pending------------------ */

.benefactionRequest-left-column {   
    flex: 70; 
    min-width: 70%;
    height: 55vh;
    max-height: 55vh;
    margin-top: 150px;

    border-collapse: collapse; /* Optional: Ensure borders collapse properly */
    overflow-y: auto;
    scrollbar-width: none;
}

.benefactionRequest-info table {
    width: 400px;
    height: 8vh;
    table-layout: fixed;
}

.benefactionRequest-data {
    width: 100%;
    height: 35px;
    font-size: 15px;
}

/* css to th */
.benefactionRequest-data th {
    min-width:100px; 
    width:260px;
}

.benefactionRequest-data td {
    word-wrap: break-word; /* Break long words and wrap onto the next line */
    overflow-wrap: break-word; /* Break words at arbitrary points to prevent overflow */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    padding: 8px;
    width:400px;
}

.view-benefactionRequest-btn-container{
    position: fixed;
    width: 25%;
    height: 5vh;
    margin-top:5vh;
    display: flex;
    justify-content:flex-start;
}

.view-benefactionRequest-btn-container button:first-child {
    margin-right: 10px;
}

.view-benefactionRequest-btn-container button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 170px;
    margin-right: 10px;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-benefactionRequest-btn-container button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.view-benefactionRequest-btn-container button img{
    padding-right: 8px;
}

.view-benefactionRequest-btn-container button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


.user-profile-right-side-bar{
    position: fixed;
    width: 25%;
    height: 10vh;
    right: 0;
    display: flex;
    justify-content: center;
}

.user-profile-right-side-bar-inner{
    position: fixed;
    width: 20%;
    height: 85vh;
    background-color: #F5F5F5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-right-side-bar-topic{
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-right-side-bar-grey-line{
    /* position: fixed; */
    width: 265px;
    height: 0.3vh;
    background-color: #DEDEDE;
    /* margin-left: -40px; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-right-side-bar-all-user-profiles{
    height: 75vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    
}

.user-profile-right-side-bar-all-user-profiles-inner{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-profile-right-side-bar-all-user-profiles-inner-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #707070;
    background-color: rgb(255, 240, 242);
    margin-bottom: 15px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image stays within the circular boundary */
}

.user-profile-right-side-bar-all-user-profiles-inner-image img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    border-radius: 50%; /* Maintain circular shape even if image size varies */
}

.user-profile-right-side-bar-all-user-profiles-inner-details{
    width: 100%;
    table-layout: fixed;
}

.user-profile-data {
    height: 35px;
    font-size: 13px;
}

.user-profile-data th {
    min-width:100px; 
    width:300px;
    text-align: right;
    padding-right: 10px;
}

.user-profile-data td {
    word-wrap: break-word; /* Break long words and wrap onto the next line */
    overflow-wrap: break-all; /* Break words at arbitrary points to prevent overflow */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
    padding-left: 10px;
    width:400px;
}

/* ----------------View Benefaction Request Deatils Accepted------------------ */

.benefactionRequest-donationinfo{
    display: flex;
    margin-top: 30px;
    height: 80px;
    width: 400px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}
.benefactionRequest-info-caption{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #262A41;
    margin-top: 10vh;
}

.benefactionRequest-info-grey-line{
    width: 65%;
    height: 0.3vh;
    background-color: #DEDEDE;
}

.benefactionRequest-donationinfo1{
    margin-right: 15px;
    margin-left: 15px;
}

.benefactionRequest-donationinfo label{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.benefactionRequest-donationdata input[type="number"]{
    height: 30px;
    width: 50px;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px 0px 14px;
    margin-top: 10px;
}

.benefactionRequest-donationdata input[type="number"]:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.benefactionRequest-donationdata-image{
    height: 30px; /* Make the input fields fill the entire height of their parent div */
    width: 130px;
    border-radius: 6px;
    border: 1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);

    margin-top: 10px;
    /* margin-bottom: 30px; */
}

.benefactionRequest-donationdata-image p{
    color: #707070;
    font-size: 13px;

}

.view-benefactionRequest-btn-container-cancel{
    position: fixed;
    width: 25%;
    height: 5vh;
    margin-top:5vh;
    display: flex;
    justify-content:flex-start;

    margin-left: 200px;
}

.view-benefactionRequest-btn-container-cancel button:first-child {
    margin-right: 10px;
}

.view-benefactionRequest-btn-container-cancel button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 170px;
    margin-right: 10px;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-benefactionRequest-btn-container-cancel button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.view-benefactionRequest-btn-container-cancel button img{
    padding-right: 8px;
}

.view-benefactionRequest-btn-container-cancel button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}


/* ----------------View Benefaction Request Details Ongoing------------------ */

.benefactionRequestAccepted-left-column{
    height: 70vh;
    max-height: 70vh;
    margin-top: 100px;
    min-width: 100%;

    display: flex;
    flex-direction: column;
}

.benefactionRequestAccepted-left-column-topic{
    color: #8692A6;
}

.benefactionRequestAccepted-left-column-grey-line{
    position: fixed;
    width: 40%;
    height: 0.3vh;
    margin-top: -1vh;
    background-color: #DEDEDE;
}

.benefactionRequestAccepted-left-column-request-detail{
    height: 35vh;
    max-height: 35vh;
    min-width: 100%;
}

.benefactionRequestAccepted-left-column-donation-detail{
    height: 35vh;
    max-height: 35vh;
    min-width: 100%;
}

.benefactionRequestAccepted-info {
    height: 25vh;
    max-height: 30vh;
    
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

/* .benefactionRequestAccepted-left-column-left-column{
    flex: 50; 
    min-width: 50%;
    height: 50vh;
    max-height: 50vh;
    
    border-collapse: collapse;
    overflow-y: auto;
    scrollbar-width: none;
}

.benefactionRequestAccepted-left-column-right-column {
    flex: 50; 
    min-width: 50%;
    height: 50vh;
    max-height: 50vh;
    margin-left: 30px;
    overflow-y: auto;
    scrollbar-width: none;
} */


.benefactionRequestAccepted-info table {
    table-layout: fixed;
    margin-top: 5px;
    width: 600px;    
}

.benefactionRequestAccepted-data th {
    min-width:100px; 
    width:150px;    
    font-size: 15px;
    vertical-align: top;
    text-align: left;
}

.benefactionRequestAccepted-data td {
    padding-left: 8px;    
    padding-bottom: 8px;
    font-size: 14px;
    vertical-align: top;
    text-align: left;
    word-wrap: break-word;
}

.view-benefactionRequestAccepted-btn-container{
    position: fixed;
    width: 25%;
    height: 5vh;
    margin-top:10vh;
    display: flex;
    justify-content:flex-start;
}

.view-benefactionRequestAccepted-btn-container button:first-child {
    margin-right: 10px;
}

.view-benefactionRequestAccepted-btn-container button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 170px;
    margin-right: 10px;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-benefactionRequestAccepted-btn-container button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.view-benefactionRequestAccepted-btn-container button img{
    padding-right: 8px;
}

.view-benefactionRequestAccepted-btn-container button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}



