.right-side-container{
    position: fixed;
    width: 70%;
    height: 85vh;
    right: 0;
    margin-top: 2vh;
}

.middle-container{
    position: fixed;
    width: 45%;
    height: 85vh;
}

.rightside-bar-type-one{
    position: fixed;
    width: 25%;
    height: 85vh;
    right: 0;
    display: flex;
    justify-content: center;
}

.middle-container-title-typeone{
    position: fixed;
    width: 45%;
    height: 8vh;
    margin-top: 5vh;
}

.middle-container-title-typeone h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -0.3vh;
}

.middle-container-title-typeone p{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.3vh;
    margin-bottom: 1vh;
}
/* ------------------Go Back Button ---------------------*/
.goback-button{
    position: fixed;
    width: 45%;
    height: 4vh;
    display: flex;
    align-items: center;
}

.goback-button img{
    width: 18px;
    cursor: pointer;
}

.goback-button button{
    height: 4vh;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    font-size: 15px;

}

.goback-button img:hover, .goback-button button:hover{
    color: #410000;
}

 /* ------------------Success story------------------ */
.middle-container-titles{
    position: fixed;
    width: 45%;
    height: 10vh;
}

.middle-container-titles h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2vh;
}

.middle-container-titles p{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2vh;
}

.succes-story-scrol-card-container{
    position: fixed;
    width: 35%;
    height: 73vh;
    margin-top: 12vh;
    overflow-y: auto;
}

.success-story-card{
    position: relative;
    width: 85%;
    height: 60vh;
    margin-bottom: 2vh;
    border-radius: 9px;
    border: 1px solid #000;
    background: #FAFAFA;
    box-shadow: 0px 0px 23px 4px rgba(0, 0, 0, 0.09);
}

.logo-name-date{
    position: relative;
    width: 50%;
    height: 8vh;
    margin: 15px;
}

.logo-for-success{
    position: relative;
    float: left;
    width: 30%;
    height: 8vh;
}

.logo-for-success img{
    width: 60px;
    height: 8vh;
    border-radius: 7px;
}

.name-date{
    position: relative;
    float: right;
    width: 70%;
    height: 8vh;
}

.name-date h4{
    margin-top: 1.5vh;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.name-date p{
    margin-top: 0.5vh;
    color: #757575;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.added-image-box{
    position: relative;
    width: 70%;
    height: 32vh;
    margin-left: 15px;
    border-radius: 7px;
    background: #D9D9D9;
}

.added-story-description{
    position: relative;
    width: 90%;
    height: 9vh;
    margin-top: 2vh;
    margin-left: 15px;
}

.added-story-description p{
    color: #757575;
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/* --------------right side bar ----------------------  */

.right-side-bar{
    position: fixed;
    width: 20%;
    height: 85vh;
    background-color: #F5F5F5;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rightside-bar-title{
    margin-top: 4vh;
}

.rightside-bar-title h3{
    color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-success-story-form{
    position: relative;
    width: 80%;
    height: 70vh;
}

.add-photo-box{
    position: relative;
    width: 100%;
    height: 10vh;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-photo-box input{
    border-radius: 7px;
    border: 1px dashed #000;
    background: #DCD9D9;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-photo-box input:focus{
    outline: none !important;
    border: 1px dashed #8E0000;
}

.add-photo-box input[type="image"]{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.add-description-box{
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 3vh;
}

.add-description-box textarea{
    width: 98%;
    height: 100%;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #F5F5F5;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
}

.add-description-box textarea:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.post-story-button{
    position: relative;
    width: 100%;
    height: 5vh;
    margin-top: 3vh;
}

.post-story-button input{
    width: 40%;
    height: 5vh;
    margin-left: 60%;
    background: #8E0000;
    border: none;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}

.post-story-button input:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.last-title{
    width: 100%;
    height: 5vh;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.last-title h3{
    color: #1C1C1C;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ------------------Complaint-------------------------- */
.middle-container-title-typeone{
    position: fixed;
    width: 45%;
    height: 5vh;
    margin-top: 5vh;
}

.form-area{
    position: fixed;
    width: 35%;
    height: 70vh;
    margin-top: 15vh;
}

.middle-container-oneline-input{
    position: fixed;
    width: 35%;
    height: 15vh;
    display: flex;
    flex-direction: column;
}

.middle-container-oneline-input label, 
.middle-container-online-textare label{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1.5vh;
}

.middle-container-oneline-input input{
    height: 5vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px 0px 14px;
}

.middle-container-online-textare{
    position: fixed;
    width: 35%;
    height: 40vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}

.middle-container-oneline-input input:focus,
.middle-container-online-textare textarea:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.middle-container-online-textare textarea{
    height: 30vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 14px;
}

.complaint-button{
    position: fixed;
    width: 35%;
    height: 10vh;
    margin-top: 55vh;
    display: flex;
    align-items: center;
}

.complaint-button input{
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
}

/* RIght side bar about Ask only for what you really need */
.rightside-bar-type-one-image{
    width: 79%;
    height: 30vh;
    margin-top: 5vh;
}

.rightside-bar-type-one-image img{
    margin-top: 1vh;
    width: max-content;
    height: 28vh;
}

.rigntside-bar-type-one-description{
    width: 80%;
    height: 35vh;
    background-color: #FFE0E0;
    margin-top: 5vh;
}

.rigntside-bar-type-one-description h4{
    color: #273240;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.343px;
    padding-left: 14px;
}

.rigntside-bar-type-one-description p{
    color: #404852;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 128.023%;
    padding-left: 14px;
}

/* ----------Search bar----------------- */
.search-bar-for-view-donors{
    position: fixed;
    width: 30%;
    height: 5vh;
    margin-top: 20vh;
    background-color: #F0EFEF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: background 0.25s;
}

.search-bar-for-view-donors:focus-within{
    background-color: #e8e6e6;
}

.search-bar-for-view-donors input{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    padding-left: 3px;
    padding-right: 5px;
    width: 100%;
}

.search-bar-for-view-donors img{
    padding-left: 15px;
    width: 15px;
    height: 15px;
}

.search-bar-for-view-donors input::placeholder{
    color: #404852;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

/* ------------View Donor table------------------ */
.table-caption-for-view-dobor{
    position: fixed;
    width: 30%;
    height: 3vh;
    margin-top: 30vh;
}

.table-caption-for-view-dobor h4{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #262A41;
    margin-left: 14px;
    margin-top: -0.1vh;
    font-weight: 600;
}

.grey-line-under-the-view-donor-table-caption{
    position: fixed;
    width: 30%;
    height: 0.3vh;
    margin-top: 33vh;
    background-color: #DEDEDE;
}

.view-donor-table{
    position: fixed;
    width: 30%;
    height: 44vh;
    margin-top: 36vh;
    overflow: hidden;
    overflow-y: scroll;
}

.view-donor-table table{
    width: 100%
}

.view-donor-table table tr{
    width: 100%;
    height: 10vh;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.09);
}

.view-donor-table table tr td:nth-child(1){
    width: 80%;
}

.view-donor-table table tr td:nth-child(1) h4,
.view-donor-table table tr td:nth-child(1) p{
    margin-left: 14px;
}

.view-donor-table table tr td:nth-child(1) p{
    margin-top: -1vh;
}


.view-donor-table table trtd:nth-child(2){
    width: 20%;
}

/* ---------------------Choose necessity type--------------------------- */
.choose-necessity-buttons-container{
    position: fixed;
    width: 30%;
    height: 50vh;
    margin-top: 25vh;
}

.choose-necessity-button{
    width: 100%;
    height: 20vh;
    margin-bottom: 2vh;
}

.choose-necessity-button button{
    width: 100%;
    height: 18vh;
    background-color: #8E0000;
    margin-bottom: 2vh;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-necessity-button button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.choose-necessity-button button img{
    padding-right: 25px;
}

.choose-necessity-button button p{
    color: #ffffff;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.choose-the-type-last-insruction{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 70vh;
}

.choose-the-type-last-insruction p{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -0.3vh;
    margin-bottom: 1vh;
}

/* ---------------Posted Necessities---------------------*/
.posted-necessity-pending-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 18vh;
}

.posted-necessity-pending-table-caption p, 
.posted-necessity-Completed-table-caption p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #262A41;
    margin-top: -0.1vh;
    font-weight: 600;
}

.posted-necessity-pending-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 22vh;
    background-color: #DEDEDE;
}

.posted-necessities-pending-table{
    position: fixed;
    width: 45%;
    height: 24vh;
    margin-top: 24vh;
    overflow: hidden;
    overflow-y: scroll;
}

.posted-necessities-pending-table table,
.posted-necessities-Completed-table table{
    width: 100%;
}

.posted-necessities-pending-table table tr,
.posted-necessities-Completed-table table tr{
    width: 100%;
    height: 10vh;
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.09);
}

.posted-necessities-pending-table table tr td:nth-child(1),
.posted-necessities-Completed-table table tr td:nth-child(1){
    width: 15%;
    padding-left: 15px;
}

.posted-necessities-pending-table table tr td:nth-child(2),
.posted-necessities-Completed-table table tr td:nth-child(2){
    width: 40%;
    padding-left: 14px;
}

.posted-necessities-pending-table table tr td:nth-child(3),
.posted-necessities-Completed-table table tr td:nth-child(3){
    width: 30%;
}

.posted-necessities-pending-table table tr td:nth-child(4),
.posted-necessities-Completed-table table tr td:nth-child(4){
    width: 10%;
    text-align: right;
}

.posted-necessities-pending-table table tr td:nth-child(5),
.posted-necessities-Completed-table table tr td:nth-child(5){
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posted-necessities-pending-table table tr td:nth-child(6),
.posted-necessities-Completed-table table tr td:nth-child(6){
    width: 10%;
}

.posted-necessities-pending-table table tr td:nth-child(4) button,
.posted-necessities-pending-table table tr td:nth-child(5) button,
.posted-necessities-pending-table table tr td:nth-child(6) button,
.posted-necessities-Completed-table table tr td:nth-child(4) button,
.posted-necessities-Completed-table table tr td:nth-child(6) button{
    border: none;
    cursor: pointer;
    background-color: #F5F5F5;
}

.posted-necessities-pending-table table tr td:nth-child(4) button img,
.posted-necessities-pending-table table tr td:nth-child(5) button img,
.posted-necessities-pending-table table tr td:nth-child(6) button img,
.posted-necessities-Completed-table table tr td:nth-child(4) button img,
.posted-necessities-Completed-table table tr td:nth-child(6) button img{
    transition: transform 0.3s ease-in-out;
}

.posted-necessities-pending-table table tr td:nth-child(4) button img:hover,
.posted-necessities-pending-table table tr td:nth-child(5) button img:hover,
.posted-necessities-pending-table table tr td:nth-child(6) button img:hover,
.posted-necessities-Completed-table table tr td:nth-child(4) button img:hover,
.posted-necessities-Completed-table table tr td:nth-child(6) button img:hover{
    transform: scale(1.1);
}

.posted-necessity-Completed-table-caption{
    position: fixed;
    width: 45%;
    height: 3vh;
    margin-top: 50vh;
}

.posted-necessity-Completed-table-grey-line{
    position: fixed;
    width: 45%;
    height: 0.3vh;
    margin-top: 54vh;
    background-color: #DEDEDE;
}

.posted-necessities-Completed-table{
    position: fixed;
    width: 45%;
    height: 24vh;
    margin-top: 56vh;
    overflow: hidden;
    overflow-y: scroll;
}

.pending-postednecessityTitle{
    margin-bottom: -1vh;
    font-size: 14px;
}

.pending-postednecessitydescription{
    margin-right: 15px;
    font-size: 11px;
}

.add-necessity-button-for-post{
    position: fixed;
    width: 45%;
    height: 5vh;
    margin-top: 82vh;
    display: flex;
    justify-content: flex-end;
}

.add-necessity-button-for-post button{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-necessity-button-for-post button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-necessity-button-for-post button img{
    padding-right: 8px;
}

.add-necessity-button-for-post button h5{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* ------------------Add Good Necessities--------------- */
.add-necessity-form{
    position: relative;
    width: 85%;
    height: 69vh;
    margin-top: 16vh;
    overflow: hidden;
    overflow-y: scroll;
}
.add-necessity-one-line-input{
    position: relative;
    width: 90%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.add-necessity-one-line-input-for-radio-buttons{
    position: relative;
    width: 90%;
    height: 10vh;
    margin-bottom: 3vh;
}

.add-necessity-one-line-second-type-input{
    position: relative;
    width: 90%;
    height: 12vh;
    margin-bottom: 3vh;
}

.add-necessity-text-area-input{
    position: relative;
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.add-necessity-text-area-input-to-oneline{
    position: relative;
    width: 90%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.add-necessity-add-button{
    position: relative;
    width: 90%;
    height: 5vh;
}

.add-necessity-one-line-input label,
.add-necessity-text-area-input label,
.add-necessity-text-area-input-to-oneline label,
.add-necessity-one-line-second-type-input .necessity-third-div label,
.add-necessity-one-line-second-type-input label,
.add-necessity-one-line-input-for-radio-buttons label{
    color: #8692A6;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 1.5vh;
}

.add-necessity-one-line-input input,
.add-necessity-one-line-input select,
.add-necessity-one-line-second-type-input .necessity-first-div input,
.add-necessity-one-line-second-type-input .necessity-third-div select,
.add-necessity-one-line-second-type-input .necessity-third-div input,
.add-necessity-one-line-second-type-input .necessity-fourth-div input,
.add-necessity-one-line-second-type-input .necessity-second-div select{
    height: 5vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 0px 14px 0px 14px;
}

.add-necessity-text-area-input textarea{
    height: 35vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding: 14px;
}

.add-necessity-text-area-input-to-oneline textarea{
    height: 6vh;
    border-radius: 6px;
    border: 1px solid #707070;
    background: #FCFCFC;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
    padding-left: 14px;
    padding-right: 14px;
}

.add-necessity-one-line-input input:focus,
.add-necessity-one-line-input select:focus,
.add-necessity-text-area-input textarea:focus,
.add-necessity-text-area-input-to-oneline textarea:focus,
.add-necessity-one-line-second-type-input .necessity-first-div input:focus,
.add-necessity-one-line-second-type-input .necessity-third-div select:focus,
.add-necessity-one-line-second-type-input .necessity-third-div input:focus,
.add-necessity-one-line-second-type-input .necessity-fourth-div input:focus,
.add-necessity-one-line-second-type-input .necessity-second-div select:focus{
    outline: none !important;
    border: #8E0000 solid;
}

.add-necessity-add-button input{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 25%;
    background-color: #8E0000;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-necessity-add-button input:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}

.add-necessity-add-button input[type="submit"] {
    color: #ffffff;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.necessity-first-div, .necessity-second-div,
.necessity-third-div, .necessity-fourth-div{
    position: relative;
    height: 12vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.necessity-first-div{
    width: 68%;
    float: left;
}

.necessity-second-div{
    width: 30%;
    float: right;
}

.necessity-third-div{
    width: 49%;
    float: left;
}

.necessity-fourth-div{
    width: 50%;
    float: right;
}

/*-----------posted-necessity-view-tables-css-for-pending-and-complete----------------*/
.posted-necessity-view-tables-css-for-pending-and-complete{
    position: fixed;
    width: 40%;
    height: 50vh;
    margin-top: 17vh;
    overflow: hidden;
    overflow-y: scroll;
}

.posted-necessity-view-tables-css-for-pending-and-complete table{
    position: relative;
    width: 90%;
    height: 50vh;
    left: 20px;
}

.posted-necessity-view-tables-css-for-pending-and-complete table tr{
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
}

.posted-necessity-view-tables-css-for-pending-and-complete table tr td:nth-child(1){
    width: 35%;
    height: 10vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8E0000; 
}

.posted-necessity-view-tables-css-for-pending-and-complete table tr td:nth-child(1) p{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    opacity: 0.8;
}

.posted-necessity-view-tables-css-for-pending-and-complete table tr td:nth-child(2){
    margin-left: 6%;
}

.posted-necessity-view-table-edit-and-delete-buttons-row{
    position: fixed;
    width: 40%;
    height: 10vh;
    margin-top: 77vh;
    display: flex;
}

.posted-necessity-view-table-edit-and-delete-buttons-row form {
    margin-right: 15px;
}

.posted-necessity-view-table-edit-and-delete-buttons-row button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8E0000;
    border-style: none;
    cursor: pointer;
    outline: none;
    width: 100px;
    height: 5vh;
    border-radius: 10px;
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.18);
}

.posted-necessity-view-table-edit-and-delete-buttons-row button p{
    color: #fff;
    font-size: 14px;
}

.posted-necessity-view-table-edit-and-delete-buttons-row button .ncessity-view-table-edit-button-img {
    width: 16px;
    margin-right: 10px;
    filter: invert(100%);
}

.posted-necessity-view-table-edit-and-delete-buttons-row button .ncessity-view-table-delete-button-img {
    width: 12.5px;
    margin-right: 10px;
    filter: invert(100%);
}

.posted-necessity-view-table-edit-and-delete-buttons-row button:hover{
    background-color: #6C0000;
    transform: scale(0.99);
}



/* .posted-necessities-pending-table table tr td:nth-child(4) button img,
.posted-necessities-pending-table table tr td:nth-child(5) button img,
.posted-necessities-pending-table table tr td:nth-child(6) button img,
.posted-necessities-Completed-table table tr td:nth-child(4) button img{
    transition: transform 0.3s ease-in-out;
}

.posted-necessities-pending-table table tr td:nth-child(4) button img:hover,
.posted-necessities-pending-table table tr td:nth-child(5) button img:hover,
.posted-necessities-pending-table table tr td:nth-child(6) button img:hover,
.posted-necessities-Completed-table table tr td:nth-child(4) button img:hover{
    transform: scale(1.1);
} */
