/* --------------- Components Styles --------------- */
@import url('components/sidenavbar.css');
@import url('components/topnavbar.css');

/* ------------------ External Styles ------------------ */
@import url('admin.css');


/* ----------------- General Styles ---------------- */


/* ----------------- Font Styles ---------------- */
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/Inter-Regular.ttf);
}

body {
    margin: 0;
    font-family: Inter-Regular;
    font-size: small;
    text-align: left;
}

a{
    text-decoration: none;
}

.page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 50px;
}

.page-container .section{
    margin: 1vh 2vw;
}

.page-container .section .container{
    transition: 0.5s;
    margin-left: 340px;
}

@media screen and (max-width: 720px){
    .page-container .section .container{
        margin-left: 20px;
        transition: left 0.5s ease-in;
    }
}

.page-container .section .container h3 {
    margin-left: 10px;
    margin-top: 65px;
    font-size: 25px;
}

.page-container .section .container p {
    color: rgba(0, 0, 0, 0.471);
    margin-left: 10px;
}



.page-container .section .container .right-content {
    top: 220px;
    position: fixed;
    right: 0;
    background-color: #ffffff;
    width: 20vw;
    height: 60vh;
    margin-top: 0;
    margin-right: 3vw;
    margin-bottom: 7vw;
    border-radius: 20px;
    box-shadow: 0 0 20px 0.1px #00000041;
}

.page-container .section .container .right-content .right-cards {
    padding: 20px;
}

.page-container .section .container .right-content .right-cards .right-card {
    margin: 25px;
    padding: 15px;
    background-color: #8e0000;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
}

.page-container .section .container .right-content .right-cards .right-card .title {
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 15px;
}

.page-container .section .container .right-content .right-cards .right-card .value {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 18px;
}

