/* --------------- Components Styles --------------- */
@import url('components/sidenavbar.css');
@import url('components/topnavbar.css');

/* ------------------ External Styles ------------------ */
@import url('admin.css');
@import url('organization.css');
@import url('student.css');
@import url('donor.css');

/* ----------------- General Styles ---------------- */


/* ----------------- Font Styles ---------------- */
@font-face {
    font-family: Inter-Regular;
    src: url(fonts/Inter-Regular.ttf);
}

body {
    margin: 0;
    font-family: Inter-Regular;
    font-size: small;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.page-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 50px;
}

.page-container .section{
    margin: 1vh 2vw;
}

.page-container .section .container{
    transition: 0.5s;
    margin-left: 340px;
}

@media screen and (max-width: 720px){
    .page-container .section .container{
        margin-left: 20px;
        transition: left 0.5s ease-in;
    }
}

.page-container .section .container h3 {
    margin-left: 10px;
    margin-top: -10px;
    /* transform: translateY(-20px); */
    font-size: 18px;
    font-weight: bolder;
}

.page-container .section .container p {
    color: rgba(0, 0, 0, 0.471);
    /* margin-left: 10px; */
}

/* ---------------------Necessity and Project lists---------------------*/

/* width and height of the scrollbar track */
::-webkit-scrollbar {
    width: 4px;
}
  
/* color of the scrollbar handle */
::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
    border-radius: 10px;
}
  
.page-container .section .container .list {
    margin-right: 500px;
    margin-top: -10px;
}

.page-container .section .container .list .list-title {
    padding: 5px 0 0 10px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.257);
}

.page-container .section .container .list .card-list {
    overflow: scroll;
    height: 160px;
    margin-top: 4px;
    padding: 5px;
}

.page-container .section .container .list .card-list .card{
   width: 100%;
   height: 70px;
   border-radius: 20px;
   border: 1px solid white;
   transition: 0.2s;
   /* margin-top: 5px; */
   padding-top: 3px;
}

.page-container .section .container .list .card-list .card:hover{
    /* border: 1px solid rgba(127, 127, 127, 0.2); */
    /* scale: 1.02; */
    background-color: rgba(0, 0, 0, 0.03);
 }

.page-container .section .container .list .card-list .card table{
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
 }

.page-container .section .container .list .card-list .card table tr{
    width: 100%;
    height: 100%;
}

.page-container .section .container .list .card-list .card table tr .content h4{
    margin-top: 10px;
    color: black;
}

.page-container .section .container .list .card-list .card table tr .content p{
    color: rgb(170, 169, 169);
    margin-top: -10px;
}

.page-container .section .container .list .card-list .card table tr .amount{
    font-weight: 1000;
    color: black;
}


.page-container .section .container .list .card-list .card table tr td img{
    width: 65%;
}

.page-container .section .container .list .card-list .card table tr .option{
    display: grid;
    width: 70%;
    justify-content: right;
    padding-top: 20px;
}

/* .page-container .section .container .list .card-list .card table tr .option .manage-btn-container {
    width: 70px;
    height: 25px;
    background-color: #8e0000;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.page-container .section .container .list .card-list .card table tr .option .manage-btn-container .manage-btn {
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    text-align: center;
}

.page-container .section .container .list .card-list .card table tr .option .manage-btn-container:hover {
    scale: 1.05;
    cursor: pointer;
} */

.page-container .section .container .list .card-list .card table tr .option .assign-manage-form .assign-manage {
    width: 70px;
    height: 25px;
    background-color: #8e0000;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

.page-container .section .container .list .card-list .card table tr .option .assign-manage-form .assign-manage:hover {
    cursor: pointer;
    scale: 1.05;
}

.page-container .section .container .list .card-list .card table tr .option .delete-form .delete{
    background-color: #8e000000;
    border: none;
    width: 35px;
    transition: 0.2s;
}

.page-container .section .container .list .card-list .card table tr .option .delete-form .delete:hover{
    cursor: pointer;
    scale: 1.05;
}

/* ------------------Right Content---------------- */

.page-container .section .container .right-content {
    top: 195px;
    position: fixed;
    right: 0;
    background-color: #ffffff;
    width: 20vw;
    height: 65vh;
    margin-top: 0;
    margin-right: 3vw;
    margin-bottom: 7vw;
    border-radius: 20px;
    box-shadow: 0 0 20px 0.1px #00000041;
}

.page-container .section .container .right-content .right-content-title-container {
    width: 100%;
    height: 10px;
}

.page-container .section .container .right-content .right-cards {
    padding: 20px;
}

.page-container .section .container .right-content .right-cards .right-card {
    width: 230px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    background-color: #8e0000;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
}

.page-container .section .container .right-content .right-cards .right-card .title {
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 13px;
}

.page-container .section .container .right-content .right-cards .right-card .value {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 13px;
}

/* -------------Success Story Cards--------------- */

.page-container .section .container .story-cards {
    margin-right: 500px;
    margin-top: -10px;
    /* background-color: #8e0000; */
}

.page-container .section .container .story-cards .story-card {
    padding: 12px;
    margin: 40px 50px 50px 10px;
    width: 620px;
    height: 460px;
    /* background-color: green; */
    border: 0.8px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px 0.1px #0000001e;
}

.page-container .section .container .story-cards .story-card .profile {
    display: flex;
    width: 500px;
    height: 100px;
    /* background-color: #8e0000; */
    margin: 30px;
}

/* .page-container .section .container .story-cards .story-card .profile .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
} */

.page-container .section .container .story-cards .story-card .profile .profile-img .pro-pic {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}

.page-container .section .container .story-cards .story-card .profile .profile-content {
    transform: translate(10px, -15px);
    /* background-color: #8e0000; */
}

.page-container .section .container .story-cards .story-card .profile .profile-content .date {
    transform: translateY(-13px);
    font-size: 12px;
}

.page-container .section .container .story-cards .story-card .story-img-container {
    width: 200px;
    height: 180px;
    margin-left: 30px;
    margin-top: -60px;
    margin-bottom: 50px;
}

.page-container .section .container .story-cards .story-card .story-img-container .story-img {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.page-container .section .container .story-cards .story-card .story-desc {
    /* width: ; */
    margin: 20px 15px 20px 28px;
    color: rgba(0, 0, 0, 0.333);
}

.page-container .section .container .story-cards .story-card .story-desc .more-desc-link {
    color: #8e0000;
    text-decoration: none;
    font-weight: 1000;
}

.page-container .section .container .story-cards .story-card .story-btn-container {
    margin: 25px;
    /* background-color: green; */
}

.page-container .section .container .story-cards .story-card .story-btn-container .del-btn {
    width: 80px;
    height: 30px;
    text-align: center;
    background-color: #8e0000;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.page-container .section .container .story-cards .story-card .story-btn-container .del-btn:hover {
    scale: 1.05;
}



/* ---------------------------------- Dropdown Styles ---------------------------------- */
.dropbtn {
    width: 70px;
    height: 25px;
    background-color: #8e0000;
    font-weight: 500;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
  }
  
  .dropdown {
    /* position: absolute; */
    display: inline-block;
    left: 300px;
    top: 100px;
    transition: 0.5s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    /* border-radius: 10px; */
    min-width: 100px;
    box-shadow: 0px 0px 10px 0.1px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* padding: 5px 0 5px 0; */
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    width: 100%; 
    outline: none; 
    border: none; 
    background-color: white; 
    text-align: left; 
    padding: 8px 8px 8px 12px;
  }

  .dropdown-item:hover {
    cursor: pointer;
    background-color: rgb(247, 246, 246);
  }
  
  .dropdown:hover .dropbtn {
    background-color: #7e0000;
  }

/* -------------404 css--------------- */



/* Error container */
.error-container {
    background-image: url('http://localhost/kindheart/img/404image.png'); /* Path to your background image */
    background-size: cover; /* Cover the whole screen */
    background-position: center; /* Center the background image */
    color: #fff; /* White text color */
    text-align: center;
    height: 100vh; /* Set height to cover the entire viewport */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align content vertically */
    
}
