<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Creation Successful</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="registerAndLogin.css" />
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="images/welcom.jpg" alt="Welcome_Image" id="registerAndLogin">
        </div>
        <div class="profileCreateSuccess-formc shared-formc">
            <div class="profileCreateSuccess-formce">
                <img src="images/logo.png" alt="Logo_Image" id="logo">
            
                <h1>Thank You!</h1>
                <span style="color: rgb(146, 141, 141);">Our team will validate your information and contact you via email shortly. <br>Your account will be validated between 2-3 days</span> 
            </div>

            <div class="button-next ">
                <button class="next shared-button2">Log In</button>
            </div>
        </div>
    </div>
</body>
</html>