<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Creating Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="registerAndLogin.css" />
</head>
<body>
    <div class="container">
        <div class="image">
            <img src="images/welcom.jpg" alt="Welcome_Image" id="registerAndLogin">
        </div>
        <div class="studentCreateProfile-formc shared-formc">
            <div class="studentCreateProfile-formce">
                <img src="images/logo.png" alt="Logo_Image" id="logo">
            
                <h1>Creating Profile</h1>
                <span style="color: rgb(146, 141, 141);">Receive donations for your educational activities</span><br><br><br>     
                <div class="studentCreateProfile-text">
                    <form action="#">
                        <div class="studentCreateProfile-input-field">
                            <div class="studentCreateProfile-horizontal-input">
                                <div class="input-group">
                                    <label for="firstName" style="color: rgb(146, 141, 141); margin-top: 25px; margin-bottom: 12px !important;">First Name</label>
                                    <input class="inputt2" type="text" name="firstName" required>
                                </div>
                                <div class="input-group">
                                    <label for="lastName" style="color: rgb(146, 141, 141); margin-top: 25px; margin-bottom: 12px !important;">Last Name</label>
                                    <input class="inputt2" type="text" name="lastName" required>
                                </div>
                            </div>
                            
                            <label for="address" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Address</label><br>
                            <input class="inputt1" type="text" name="address" required><br><br>

                            <div class="studentCreateProfile-horizontal-input">
                                <div class="input-group">
                                    <label for="gender" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Gender</label><br>
                                    <select class="inputt" name="orgType" required>
                                        <option value="male" class="dropdown-option">Male</option>
                                        <option value="female" class="dropdown-option">Female</option>
                                    </select><br>
                                </div>
                                <div class="input-group">
                                    <label for="orgType" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Student Type</label><br>
                                    <select class="inputt" name="orgType" required>
                                        <option value="school" class="dropdown-option">School Student</option>
                                        <option value="university" class="dropdown-option">University Student</option>
                                    </select><br>
                                </div>
                            </div>

                            <label for="orgName" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Name of the University/ School</label><br>
                            <input class="inputt1" type="text" name="orgName" required><br><br>
                            <label for="acaYear" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Acadamic year/ Grade</label><br>
                            <input class="inputt1" type="text" name="acaYear" required><br><br>
                            <label for="schol" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Mention Currently receiving scholarships(Use Commas to break)</label><br>
                            <input class="inputt1" type="text" name="schol" required ><br><br>

                            <div class="studentCreateProfile-horizontal-input">
                                <div class="input-group">
                                    <label for="careType" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Select Caregiver</label><br><br>
                                    <select class="inputt" name="careType" required>
                                        <option value="Father" class="dropdown-option">Father</option>
                                        <option value="Mother" class="dropdown-option">Mother</option>
                                        <option value="Guardian" class="dropdown-option">Guardian</option>
                                    </select><br>
                                </div>
                            </div>

                            <label for="careName" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Caregiver Name</label><br>
                            <input class="inputt1" type="text" name="careName" required><br><br>
                            <label for="careOccu" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Caregiver Occupation</label><br>
                            <input class="inputt1" type="text" name="careOccu" required><br><br>
                            <label for="careRealat" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Relationship to the Student</label><br>
                            <input class="inputt1" type="text" name="careRealat" required><br><br>

                            <div class="studentCreateProfile-horizontal-input">
                                <div class="input-group">
                                    <label for="letterimg" style="color: rgb(146, 141, 141); margin-top: 30px; margin-bottom: 12px !important;">GS Certificate</label>
                                    <input class="inputt2" type="file" name="letterimg" placeholder="Upload a Photo" required>
                                    <p class="para" style="color: rgb(146, 141, 141); margin-top: 5px; margin-bottom: 10px !important;">How to obtain a GS certificate?<br>Click here </p>                                </div>
                                <div class="input-group">
                                    <label for="letterimg" style="color: rgb(146, 141, 141); margin-top: 30px; margin-bottom: 12px !important;">University/ School Letter</label>
                                    <input class="inputt2" type="file" name="letterimg" placeholder="Upload a Photo" required>
                                    <p class="para" style="color: rgb(146, 141, 141); margin-top: 5px; margin-bottom: 10px !important;">Upload a letter confirming your enrolment<br>from your University/ school.</p>
                                </div>
                            </div>

                            <div class="studentCreateProfile-horizontal-input">
                                <div class="input-group">
                                    <label for="letterimg" style="color: rgb(146, 141, 141); margin-top: 30px; margin-bottom: 12px !important;">NIC - Front </label>
                                    <input class="inputt2" type="file" name="letterimg" placeholder="Upload a Photo" >
                                </div>
                                <div class="input-group">
                                    <label for="letterimg" style="color: rgb(146, 141, 141); margin-top: 30px; margin-bottom: 12px !important;">NIC - Back </label>
                                    <input class="inputt2" type="file" name="letterimg" placeholder="Upload a Photo" >
                                </div>
                            </div>
                            <p class="para" style="color: rgb(146, 141, 141); margin-top: 5px; margin-bottom: 10px !important;">Upload clear photos of both sides of your National Identity card if the student age is above 16.</p>
                            
                            <label for="accHolderName" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Account holder's name</label><br>
                            <input class="inputt1" type="text" name="accHolderName" required><br><br>
                            <label for="bankName" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Name of the Bank</label><br>
                            <input class="inputt1" type="text" name="bankName" required><br><br>
                            <label for="branchName" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Branch Name</label><br>
                            <input class="inputt1" type="text" name="branchName" required><br><br>
                            <label for="accNumber" style="color: rgb(146, 141, 141); margin-top: 30px !important;">Account Number</label><br>
                            <input class="inputt1" type="text" name="accNumber" required><br><br>
                        </div>
                        <div class="button-next">
                            <button class="next shared-button2">Next</button>
                        </div>
                    </form>
                </div>
            </div>       
        </div>
    </div>
</body>
</html>